# Tuesday Homework 1: More fun with lists

We are going to use some list functions in this notebook that aren't automatically loaded with Python. They are in a module that is included with Python, called `statistics`.

You should import any modules at the top of your notebook, even if you don't use them until much later in the notebook. This is so that people can see which modules they need as soon as they open the notebook, in case they need to **install** the module on their computer.

Run this cell to import the `statistics` module:

In [ ]:
import statistics

## <br><br>List functions

We already learned some list functions:

In [ ]:
bananas_in_bunches = [4, 9, 7, 4, 3, 6]

<br>`sum()`:

In [ ]:
total_bananas = sum(bananas_in_bunches)
print(total_bananas)

<br>`len()`:

In [ ]:
how_many_bunches = len(bananas_in_bunches)
print(how_many_bunches)

<br>`append()`:

In [ ]:
new_bunch = 8
bananas_in_bunches.append(new_bunch)
print(bananas_in_bunches)

<br>`sort()`:

In [ ]:
bananas_in_bunches.sort()
print(bananas_in_bunches)

We can also pass a **keyword argument** to the `sort()` function to reverse the sort order of the list:

In [ ]:
bananas_in_bunches.sort(reverse=True)
print(bananas_in_bunches)

A **keyword argument** is an argument that has a default value. If you want to use something other than the default value, you have to pass the function the keyword with the new value. So for `sort()` the default of the `reverse` argument is `False`. When we want to reverse it, we need to change `reverse` to `True` by passing it as an argument.

<br>**More built-in list functions**

In [ ]:
min(bananas_in_bunches)

In [ ]:
max(bananas_in_bunches)

<br><br>To use a function from an imported module, you type the name of the module followed by `.` followed by the name of the function. Let's use `statistics.mean()`:

In [ ]:
mean_bunch_size = statistics.mean(bananas_in_bunches)
print(mean_bunch_size)

<br>`statistics.median()`:

In [ ]:
median_bunch_size = statistics.median(bananas_in_bunches)
print(median_bunch_size)

### <br><br>Exercise 1

<br>Let's practice finding information online. Use Google to search for the correct Python function to calculate standard deviation, and then write the code to find the standard deviation of `bananas_in_bunches`:

## <br><br><br>Joining items in a list into one string

Occasionally, you will need to join the items in a list together into a string.

In [ ]:
full_name_list = ["Bartholomew", "JoJo", "Simpson"]

The `join()` function is actually a string method. The string you start with is the string that you want to use to connect all the items in the list. Then you pass the list to the function as an argument:

In [ ]:
" ".join(full_name_list)

In [ ]:
"-".join(full_name_list)

In [ ]:
"DOH".join(full_name_list)

<br>You can use an empty string to connect all the items in the list with nothing in between:

In [ ]:
"".join(full_name_list)

### <br><br>Exercise 2

In [ ]:
path_list = ["Documents", "workshops", "bootcamp", "tuesday", "tuesdayHW1.ipynb"]

Use the join function to combine these words into one string. The words should be separated by a "/" to create a file path.

## <br><br><br>Changing a string into a list

Another common task is splitting a string into a list. This is also a string method, so let's load a string to practice with:

In [ ]:
csv_line = "sample 1,5,24,864,NA,.4556,,,65"

You must pass the `split()` function an argument - what string do you want to use to separate the items for your list. Here we'll use a comma:

In [ ]:
csv_line_list = csv_line.split(",")
print(csv_line_list)

### <br><br>Exercise 3

In [ ]:
my_data = "Year: 2005\nYear: 2007\nYear: 2010\nYear: 2011\nYear: 2015"

Run the cell above. Write the code to turn the string `my_data` into a list of years, without any other text or new lines.
<br>*Hint: You will need to use two string functions to create a clean list, so you will have to remember what you learned yesterday.*

### <br><br>Indexing lists

In [ ]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Wednesday", "Friday", "Saturday"]

In [ ]:
days[-1]

In [ ]:
days[3]

In [ ]:
days[:4]

In [ ]:
print("Today is " + days[2])

### <br><br>Exercise 4

In [ ]:
months = ["January", "February", "March", "April", 
          "May", "June", "July", "August", "September", 
          "October", "November", "December"]

*Note: When typing a long list, you can use multiple lines. Try to line up the next line with the first item in the list.*

#### <br>Run the line of code above. Use list indexing to answer these questions:

What month were you last on campus?

Which months do you consider to be part of Summer?

What month were you born? Try to print out your answer in a complete sentence that includes your indexed month.

### <br><br>Indexing multiple levels

You can index characters inside a string inside a list. Like this:

In [ ]:
name = ["Colby", "Witherup", "Wood"]
print("My first name starts with " + name[0][0] + ".")

In [ ]:
name[2][0:2]

<br><br>You would use the same style of indexing to index items inside a **nested list**:

In [ ]:
gradebook = [["Casey", "Maya", "Toni", "Mae"], [85, 95, 100, 88]]

In [ ]:
gradebook[0][-1]

In [ ]:
gradebook[1][3]

In [ ]:
gradebook[0][1][2]

### <br><br>Exercise 5

Write your own name as a list of your first, middle, and last names (or however many names you have):

In [ ]:
full_name =

Write code to index the last letter of your first name:

<br>You ran an experiment 5 times a day for 3 days. These are your results:

In [ ]:
results = [[.001, .455, .789, .765, .602], 
           [.67, .899, .482, .847, .585], 
           [.943, .984, .423, .45, .776]]

<br>What is the value of the very last run on the last day?

<br>What is the minimum value you obtained on the first day of your experiment?

What is the mean of the values you obtained on your second day?

### <br><br>Comparisons between lists

### Exercise 6

In [ ]:
characters = ["Aang", "Katara", "Sokka", "Zuko", "Iroh", "Toph"]
water_tribe = ["Katara", "Sokka"]

Based on the lists above, will the following booleans evaluate to True or False? Try to answer before running the code to check:

In [ ]:
len(characters) > len(water_tribe) and len(water_tribe) > 3

In [ ]:
"Aang" in water_tribe or "Sokka" not in water_tribe

In [ ]:
characters[3] == water_tribe[1] or characters[0][0] == water_tribe[0][-1]